$color_white: #fff;
$color_black: #101010;
$color_grey: #2B3030;

$color_primary: #662D91;

$color_secondary: #99CA3C;

$color_light_background: #F6F6F6;
$color_light_background_2: #EBEBEB;
$color_light_background_2_darker: #d3d3d3;
$color_dark_background: #1C1B1F;

$color_promotion: #C71122;
$color_delivery: #3BBB48;

$color_borders: #2B303033;
$color_light_borders: #424242;
$color_title_border: #33383F;

$container_width: 1500px;
$container_padding: 30px;
$container_padding_mobile: 15px;
