/**
 * Block css
*/

@use './variables' as var;
@use './mixins' as mixin;

.form {
  position: relative;

  textarea {
    resize: none !important;
  }

  .form__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .form__group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(50% - 10px);
    margin-bottom: var(--spacing--xs);

    &.form__group-100 {
      width: 100%;
    }

    &.form__group--space {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    &.form__group-submit {
      justify-content: flex-end;
    }

    &.has-danger, .has-danger {

      input {
        background-color: rgba(0, 118, 114, 0.05);
      }

      .text-help {
        font-size: 13px;
        color: #f00;
        margin-top: 4px;
      }

      #file-input-label {
        border: 2px solid #b12121;
        color: #f00;
      }

      #message-label {
        border: 2px solid #b12121;
        color: #f00;
      }

      &.form__label-checkbox {
        border: 2px solid #b12121;
      }
    }
  }

  .form__response {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 30px);
    z-index: 1;
    border: 1px solid #ccc;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .form__label {
    margin-bottom: 5px;
  }

  .form__input {
    border: 1px solid #d2d3d5;
    width: calc(100% - 20px);
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--wp--preset--font-family--jost);
    font-size: 1em;
    line-height: 1.3;

    &.form__input--textarea {
      min-height: 100px;
    }
  }

  .form__input-checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;

    &.form__label-checkbox--bold {
      font-weight: 800;
    }
  }

  .form__label-checkbox {
    width: 100%;
    margin-top: 0;

    &.form__label-checkbox--bold {
      font-weight: 700;
    }
  }

  .form__button {

    @include mixin.button();
  }
}

@media (max-width: 768px) {

  .form {
    //&.form--ask-trader,
    &.form--contact {

      .form__row {
        flex-wrap: wrap;
        //margin-bottom: 20px;
        gap: 15px;

        .form__group {
          width: 100%;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}