@use './../components/footer';

.woocommerce--b2b {
  overflow: visible !important;

  .b2b-woocommerce-grid {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;

    @media screen and (max-width: 1199px) {
      grid-template-columns: 15rem 1fr;
    }

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }


    &__sidebar {

      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  .product-list {
    display: block;
    padding: 0;
  }

  .b2b-product-nav, .b2b-content-loop-product {

    display: grid;
    gap: 0.25rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .b2b-product-nav {
    grid-template-columns: 7rem 1fr 5.5rem 8rem 17rem;
    position: sticky;
    top: 4.5rem;
    z-index: 99;
    background-color: #fff;
    padding: 0.25rem 0;


    @media screen and (max-width: 1199px) {
      display: none;
    }

    > span {
      background-color: #f0f0f0;
      text-align: center;
      font-size: 0.75rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
    }
  }

  .b2b-content-loop-product {
    grid-template-columns: 7rem 1fr 5.5rem 8rem 8.75rem 8rem;
    background-color: #FAFAFA;
    border-radius: 0.25rem 0 0 0.25rem;

    @media screen and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-row-gap: 0;
    }

    &__sku {
      font-size: 0.75rem;
      padding: 0.25rem;

      @media screen and (max-width: 1199px) {
        order: 1;
        text-align: left;
        padding-bottom: 0;
      }
    }

    &__sku-prefix {
      display: none;

      @media screen and (max-width: 1199px) {
        display: inline-flex;
      }
    }

    .woocommerce-loop-product__title {
      font-size: 0.75rem;
      font-weight: 400;
      display: inline-flex;
      margin: 0;
      cursor: pointer;

      @media screen and (max-width: 1199px) {
        padding: 0.25rem;
        order: 3;
        width: calc((100% - 6rem) - 0.25rem);
        padding-top: 0;
      }
    }

    &__stock_quantity {
      font-size: 0.75rem;
      text-align: center;
      padding: 0.25rem;
      gap: 0.25rem;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 1199px) {
        order: 2;
        text-align: right;
        padding-bottom: 0;
        justify-content: flex-end;
      }

      &--red {
        color: red;
      }

      &--yellow {

      }

      &--green {
        color: green;
      }
    }

    &__stock_quantity-prefix {
      display: none;

      @media screen and (max-width: 1199px) {
        display: inline-flex;
      }
    }

    .price {
      margin-bottom: 0 !important;
      justify-content: center !important;
      padding: 0.25rem;

      @media screen and (max-width: 1199px) {
        order: 4;
        width: 6rem;
        text-align: right;
        justify-content: flex-end !important;
        align-self: flex-start;
        padding-top: 0;
        gap: 0 !important;
      }

      > .woocommerce-Price-amount,
      ins {
        font-size: 0.75rem !important;
        font-weight: 400 !important;
        display: flex;
        align-items: center;
        color: var(--color-text) !important;

        bdi {
          @media screen and (max-width: 1199px) {
            font-size: 1rem !important;
          }
        }
      }
    }

    .amount {
      font-size: 0.75rem !important;
      font-weight: 400 !important;
      display: flex;
      align-items: center;
    }

    .quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      @media screen and (max-width: 1199px) {
        order: 6;
      }
    }

    .button {
      text-align: center;
      font-size: 0.75rem;
      height: 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1199px) {
        order: 7;
        width: auto;
      }

      @media screen and (max-width: 568px) {
        width: calc(100% - 140px);
      }
    }


  }

  .stock_quantity {
    display: inline-flex;
  }

  .b2b-product-quantity {
    display: inline-flex;
  }

  .quantity {

    &__btn {
      height: 2.25rem;
      width: 2.25rem;

      svg {

        path {
          fill: #000;
        }
      }
    }

    .input-text {
      height: 2.25rem;
      width: 3.5rem !important;
    }
  }

  .product-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    max-width: 100% !important;

    &--show {
      display: flex;
    }


    &__wrapper {
      background-color: #fff;
      border-radius: 0.25rem;
      padding: 3rem 1rem;
      position: relative;
      max-width: 800px;
      width: 100%;
      margin: 3rem;

      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }

    &__content {
      display: flex;
      gap: 1rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      img {
        object-fit: contain;
        width: 100%;
        max-width: 24rem;
      }

      .product_title.entry-title {
        font-size: 1.5rem;
      }

    }

    &__close {
      padding: 0;
      margin: 0;
      border: 0;
      background: transparent;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

  }

  .b2b-shop-search {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      position: sticky;
      top: 0;
      z-index: 9;
      margin-left: calc(var(--page-padding) * (-1));
      margin-right: calc(var(--page-padding) * (-1));
      width: calc(100% + (2 * var(--page-padding)));
    }

    .woocommerce-ordering {
      margin: 0;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }

    .orderby {

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
  }

  .wp-block-search {

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    &__inside-wrapper {
      position: relative;
    }

    &__input {
      width: 25rem;
      padding-right: 1rem;
      line-height: 1;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }

    &__close {
      position: absolute;
      top: 50%;
      right: 0.25rem;
      height: 2rem;
      width: 2rem;
      padding: 0;
      border: 0;
      background-color: #fff;
      cursor: pointer;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .woocommerce-pagination ul.page-numbers .page-numbers.page-numbers--input {
    padding: 0;
    border-radius: 0.25rem;
  }

  .woocommerce-pagination ul.page-numbers .page-numbers {
    padding: 0;
    width: 2.25rem;
    height: 2.25rem;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    border-radius: 0.25rem;
  }

  .mobile-wc-bar {
    background-color: #f7f7f7;

    @media screen and (max-width: 991px) {
      max-width: 50%;
      bottom: 4rem;
      padding: 0.5rem 0.25rem !important;
    }

    &__button {

      @media screen and (max-width: 991px) {
        padding: 0.5rem 0.25rem !important;
        font-size: var(--fz-10) !important;
      }

      @media screen and (max-width: 568px) {
        font-size: var(--fz-8) !important;
      }

      svg {

        @media screen and (max-width: 991px) {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }

  }

  .header {

    &__main {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &__logo img {
      max-height: 3rem;
      max-width: 3rem;
      object-fit: contain;
    }
  }

  .search-form__button-open, .mobile-bar__contact {
    display: none !important;
  }

  .mobile-bar__user {
    width: auto !important;
  }

  .grecaptcha-badge {
    bottom: 7rem !important;
  }


  &.woocommerce-cart {
    .quantity {
      &__btn {
        width: 2.25rem;
        height: 2.25rem;

        @media screen and (max-width: 991px) {
          width: 2rem;
          height: 2rem;
        }
      }


      .input-text {
        padding: 0 1rem !important;
      }
    }
  }
}